@import url(common.css);
@import url("../css/font.css");
@import url("../css/media.css");
body {
  font-family: "Inter";
}

#main-container {
  width: 100%;
  position: relative;
}
#main-container .top-content01 {
  width: 100%;
  display: flex;
  height: 400px;
}
#main-container .top-content01 .content01-textBox {
  width: 100%;
  position: relative;
  margin-top: 7%;
  margin-left: 6%;
}
#main-container .top-content01 .content01-textBox :nth-child(1) {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  padding-bottom: 16px;
}
#main-container .top-content01 .content01-textBox :nth-child(2) {
  font-weight: 400;
  font-size: 22px;
  line-height: 26.6px;
}
#main-container .main-content-wrapper {
  width: 95%;
  display: flex;
}
#main-container .main-content-wrapper .side-bar {
  width: 20%;
  position: relative;
}
#main-container .main-content-wrapper .side-bar .side-nav-bar {
  width: 100%;
  display: flex;
  margin: 37px 0 64px 53px;
}
#main-container .main-content-wrapper .side-bar .side-category {
  width: 100%;
  margin-left: 53px;
}
#main-container .main-content-wrapper .side-bar .side-category .selector {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}
#main-container .main-content-wrapper .side-bar .side-category .selector p {
  width: 20%;
}
#main-container .main-content-wrapper .side-bar .side-category .selector .style::after {
  content: "";
  display: block;
  width: 1px;
  height: 206px;
  background: #000;
  position: absolute;
  top: 2%;
  left: 150px;
  transform: rotate(90deg);
}
#main-container .main-content-wrapper .side-bar .side-category .selector fieldset {
  width: 100%;
}
#main-container .main-content-wrapper .side-bar .side-category .selector fieldset select {
  width: 150px;
  text-align: center;
  -moz-text-align-last: center;
       text-align-last: center;
  font-size: 16px;
  border: none;
  background: url("../image/caret-down 1.png") no-repeat 95% 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  outline: none;
}
#main-container .main-content-wrapper .side-bar .side-category ul {
  width: 100%;
}
#main-container .main-content-wrapper .side-bar .side-category ul li {
  width: 100%;
  margin: 10px 0;
}
#main-container .main-content-wrapper .content-items {
  width: 100%;
  margin-top: 131px;
  text-align: center;
  margin-bottom: 542px;
}
#main-container .main-content-wrapper .content-items .content01-items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#main-container .main-content-wrapper .content-items .content01-items .wrap {
  width: 20%;
  margin-bottom: 102px;
}
#main-container .main-content-wrapper .content-items .content01-items p {
  margin: 5px 0;
}
#main-container .main-content-wrapper .content-items .content01-items p:nth-child(4) {
  margin: 20px 0;
}
#main-container .main-content-wrapper .content-items .content01-items fieldset input {
  background: #000;
  color: white;
  border-radius: 10px;
}/*# sourceMappingURL=sub_index.css.map */